## Export methods
export(
  aep,
  availability,
  clean,
  createMast,
  createPC,
  createSet,
  energy,
  formatTS,
  frequency,
  monthStats,
  plotAep,
  plotAvailability,
  plotDay,
  plotEnergy,
  plotFrequency,
  plotMonthStats,
  plotPC,
  plotPolar,
  plotProfile,
  plotTimeSeries,
  plotTurbIEC,
  plotTurbulence,
  plotWbDir,
  plotWeibull,
  printObject,
  profile,
  readPC,
  turbulence,
  weibull
)

## Import packages
import(
  RColorBrewer,
  XML
)
